<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Controls" version="1.0.169" targetFramework="net472" />
  <package id="AuthorizeNet" version="2.0.3" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="BraintreeHttp-Dotnet" version="0.3.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0-develop00310" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.3.3" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="2.8.2.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="2.8.2.2" targetFramework="net472" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.2" targetFramework="net472" />
  <package id="itext7" version="7.2.4" targetFramework="net472" />
  <package id="itext7.commons" version="7.2.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.30" targetFramework="net472" />
  <package id="Nager.Country" version="3.1.1" targetFramework="net472" />
  <package id="Nager.Country.Translation" version="3.0.3" targetFramework="net472" />
  <package id="NAudio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Asio" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Core" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Midi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinForms" version="2.1.0" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PayPal" version="2.0.0-rc2" targetFramework="net472" />
  <package id="PDFOne.NET" version="22.1.6" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.2" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.2" targetFramework="net472" />
  <package id="Spire.Office" version="7.12.4" targetFramework="net472" />
  <package id="Stripe.net" version="41.5.0-beta.1" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Compression.Net.Core" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Net.Core" version="20.3.0.61" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Net.Core" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.SkiaSharpHelper.Net.Core" version="20.3.0.61" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Spreadsheet.Windows" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="20.4.0.38" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="20.4.0.38" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.4.0.1029999" targetFramework="net472" />
</packages>